<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main>
        <h2>Login</h2>
        <!-- <form action="/blog-entry" method="GET"> -->

          <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
          </form>

<!-- MAKE EMAIL AND PASSWORD TEMPORARILY NOT REQUIRED FOR FASTER DEVELOPMENT... TODO: MAKE THEM REQUIRED AGAIN -->          
            <!-- <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <button type="button" onclick="location.href='/forgot-password'">Forgot Password?</button>
        </form> -->
    </main>
</body>
</html>
