<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main>
        <p>This is the legal information page.</p>
    </main>
</body>
</html>
